<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffees</title>
</head>
<body>
    <h2>Our Coffee!</h2>
    <br>
    {% for item in coffee %}
        <div>
            <a href="{% url 'coffee' item.id %}">{{ item.name }}</a>
            <br>
            <span>Coffee composition: {{ item.composition }}</span>
            <br>
            <span>Tea origin: {{ item.origin }}</span>
        </div>
        <br>
        <br>
    {% endfor %}
    <a href="{% url 'index' %}">Back to main</a>
</body>
</html>