<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
</head>
<body>
    <h2>Our Coffee!</h2>
    <br>
    <div>
        <h3>{{ coffee.name }}</h3>
        <br>
        <span>Coffee composition: {{ coffee.composition }}</span>
        <br>
        <span>{{ coffee.description }}</span>
        <br>
        <br>
        <span>Coffee origin: {{ coffee.origin }}</span>
    </div>
    <br>
    <br>
    <a href="{% url 'coffees' %}">See all our coffees!</a>
</body>
</html>