<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COFFEETEA</title>
</head>
<body>
    <h2>Welcome to our COFFETEA shop!</h2>
    <br>
    <br>
    {% if not user.is_authenticated %}
    <div>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">LogIn</a>
    </div>
    {% else %}
        <div>
            <a href="{% url 'logout' %}">LogOut</a>
        </div>
    {% endif %}
    <br>
    <div>
        <a href="{% url 'teas' %}">See our tea collection</a>
        <a href="{% url 'coffees' %}">See our coffee collection</a>
        <a href="{% url 'wafers' %}">See our wafers collection</a>
    </div>
    <br>
    <br>
    <div>
        {% if last_review %}
            <ul>
            {% for review in last_review %}
                <div>
                    {% if review.user %}
                        <a>{{ review.user.username }}</a>
                    {% else %}
                        <a>{{ 'Anonymous' }}</a>
                    {% endif %}
                    <a> - {{ review.mark }}</a>
                    <br>
                    <span>{{ review.text }}</span>
                </div>
                <br>
            {% endfor %}
            </ul>
            <a href="{% url 'add_review' %}">Make here your review!</a>
        {% else %}
            <a href="{% url 'add_review' %}">There are not reviews, be the first, who make it!</a>
        {% endif %}
        <br>
        <a href="{% url 'reviews' %}">All reviews!</a>
    </div>
</body>
</html>