<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
    <h3>Please, write your username and password to login</h3>
    <br>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <span>Username: </span><input type="text" name="username"/>
        <br>
        <span>Password: </span><input type="text" name="password"/>
        <br>
        <input type="submit" value="Log In"/>
    </form>
</body>
</html>