<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h3>Please, write your credentials to register!</h3>
    <br>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <span>Username: </span><input type="text" name="username"/>
        <br>
        <span>E-mail: </span><input type="text" name="email"/>
        <br>
        <span>Password: </span><input type="password" name="password"/>
        <br>
        <input type="submit" value="Log In"/>
    </form>
</body>
</html>