<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new review!</title>
</head>
<body>
    <h3>Thank you for writing review!</h3>
    <br>
    <form action="{% url 'add_review' %}" method="post">
        {% csrf_token %}
        <span>Type here your mark: </span><input type="number" name="mark" max="5" min="1"/>
        <br>
        <span>Type here your review: </span><input type="textarea" name="text"/>
        <br>
        <input type="submit" value="Make review!"/>
    </form>
</body>
</html>