<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
    <h2>Our Reviews!</h2>
    <br>
    <a href="{% url 'index' %}">Back to main</a>
    <br>
    {% for item in review %}
        <div>
            <span>User: {{ item.user }}</span>
            <br>
            <span>Mark: {{ item.mark }}</span>
            <br>
            <span>{{ item.text }}</span>
            <br>
            <span>Published: {{ item.published }}</span>
        </div>
        <br>
        <br>
    {% endfor %}
    <a href="{% url 'index' %}">Back to main</a>
</body>
</html>