<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tea</title>
</head>
<body>
    <h2>Our Tea!</h2>
    <br>
    <div>
        <h3>{{ tea.name }}</h3>
        <br>
        <span>Tea color: {{ tea.color }}</span>
        <br>
        <span>{{ tea.description }}</span>
        <br>
        <br>
        <span>Tea origin: {{ tea.origin }}</span>
    </div>
    <br>
    <br>
    <a href="{% url 'teas' %}">See all our teas!</a>
</body>
</html>