<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teas</title>
</head>
<body>
    <h2>Our Tea!</h2>
    <br>
    {% for item in tea %}
        <div>
            <a href="{% url 'tea' item.id %}">{{ item.name }}</a>
            <br>
            <span>Tea color: {{ item.color }}</span>
            <br>
            <span>Tea origin: {{ item.origin }}</span>
        </div>
        <br>
        <br>
    {% endfor %}
    <a href="{% url 'index' %}">Back to main</a>
</body>
</html>