<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wafers</title>
</head>
<body>
    <h2>Our Wafers!</h2>
    <br>
    {% for item in wafer %}
        <div>
            <a href="{% url 'wafer' item.id %}">{{ item.name }}</a>
            <br>
            <span>Dough: {{ item.dough }}</span>
            <br>
            <span>Cream: {{ item.cream }}</span>
            <br>
            <span>Wafers origin: {{ item.origin }}</span>
        </div>
        <br>
        <br>
    {% endfor %}
    <a href="{% url 'index' %}">Back to main</a>
</body>
</html>