<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wafer</title>
</head>
<body>
    <h2>Our Wafer!</h2>
    <br>
    <div>
        <h3>{{ wafer.name }}</h3>
        <br>
        <span>Dough: {{ wafer.dough }}</span>
        <br>
        <span>Cream: {{ wafer.cream }}</span>
        <br>
        <span>Best with: {{ wafer.best_with_tea.name id wafer.best_with_tea else '' }}, </span>
        <span>{{ wafer.best_with_coffee.name id wafer.best_with_coffee else '' }}</span>
        <span>{{ wafer.description }}</span>
        <br>
        <span>Callories: {{ wafer.callories }}</span>
        <br>
        <br>
        <span>Wafer origin: {{ wafer.origin }}</span>
    </div>
    <br>
    <br>
    <a href="{% url 'coffees' %}">See all our coffees!</a>
</body>
</html>